html, body{
  margin: 0;
}
.main-block{
    display: flex;
    width: 70vw;
    height: 70;
    margin: auto;
    margin-top: 30px;
}

.main-picture{
    flex-grow: 1;
    
}

.main-text{
    flex-grow: 1;
    text-align: left;
}
.about{
    font-family: Arial, Helvetica, sans-serif;
    font-size: size 24px;
    font-weight: bold;
    font-style: italic;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    
    color: black;
}

.hello{
font-family: Arial, Helvetica, sans-serif;
font-family: 65;
font-weight: normal;
}

@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width:100%;
    }
}